################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.iobj
*.ipdb
*.sdf
*.vs
.vs/
obj/
bin/
ipch/
/debug64
